ADMIN_ORIGIN=https://www.nordheimlarssen.no
ADMIN_GITHUB_ID=
ADMIN_SESSION_SECRET=
SUPABASE_URL=
SUPABASE_SECRET_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
TAILSCALE_CLIENT_ID=
TAILSCALE_CLIENT_SECRET=
TAILSCALE_TAILNET=-
